body {
  font-family: Helvetica Neue, Arial, Times New Roman;
  color: #505050;
  text-align: center;
  margin: 0em;
  padding: 0em;
}
@media (min-width: 768px) {
 body {
    font-size: 18px;
  }
}

.italic { font-style: italic; }
.bold { font-weight: 600; }
.margin-2-auto { margin: 2rem auto; }
.text-align-left { text-align: left; }
.font-size-150 { font-size: 1.5rem; }
.line-height-150 { line-height: 1.5; }

h1 {
  font-weight: 200;
}

h2 {
  font-weight: 200;
}

h3 {
  font-weight: 200;
}

a {
  text-decoration: none;
  color: #505050;
}

/* menu */
.menuItem {
  height: 3em;
  line-height: 3em;
}
.menu img {
  height: 3em;
  width: 3em;
}

/* index page call-to-action */
.landingPage {
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-flow: column;
  -webkit-flex-flow: column;
}
.landingPage .icon {
  font-size: 30px;
}

/* index page description */
.cardContainer {
  margin: 1rem auto;
}
.card {
  border: 2px solid grey; 
  border-radius: 0.5rem;
}
.card .cardTitle {
  color: white;
  margin-top: 0;
  padding: 0.5rem 0;
  display: block;
  background-color: grey;
  font-weight: 400;
  text-transform: uppercase;
}

/* form submission */
form .question {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
form .question label {
  display: block;
  text-align: left;
}
form .question textarea, form .question input {
  width: 100%;
}

/* instructor profile */
.profileImage img {
  position: relative;
  height: 7.5em;
  width: 7.5em;
  border-radius: 50%;
  border: 1px solid lightgrey;
}
@media (min-width: 768px) {
  .profileImage img {
    top: 3rem;
    left: 2rem;
  }
}
@media (min-width: 992px) {
  .profileImage img {
    top: 7rem;
    left: 2rem;
  }
}
.profileText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.profileText h2 {
  margin-top: 0;
}

.sitemap-footer-flattened {
}

.sitemap-footer-flattened .footer-container {
  margin: 4em auto;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
}

.sitemap-footer-flattened .footer-container .column {
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 1em;
}

.sitemap-footer-flattened .footer-container .column .heading {
  text-transform: uppercase;
  font-weight: 400;
  display: inline;
  margin: 0;
}

.sitemap-footer-flattened .footer-container .column .link {
  display: inline;
  margin-left: 2em;
}
