html, body {
  font-family: Helvetica Neue, Arial, Times New Roman;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  color: #505050;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 { font-weight: 200; }
h2 { font-weight: 200; }
h3 { font-weight: 200; }
a, a:hover { text-decoration: none; color: #505050; }
a { -webkit-transition: color 0.5s; transition: color 0.5s; }

.bold { font-weight: 600; }

/* menu */
.menu {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  -webkit-display: flex;
  justify-content: center;
  align-items: center;
}

.menu a { font-size: 1.25rem; font-weight: 600; }
.menu a:hover { color: darkseagreen; }

.menu .logo {
  height: 6rem;
  max-width: 30rem;
}

/* index page call-to-action */
.landing-page {
  padding: 10rem 0;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  flex-flow: column;
  -webkit-flex-flow: column;
}

.landing-page .icon {
  font-size: 30px;
}

.description {
}

.description .row {
  padding: 2rem 0;
}

.description p {
  text-align: left;
}

.card-section {
  padding: 2rem 0;
  text-align: center;
  display: flex;
  -webkit-display: flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.card {
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  margin: 0 1rem;
}

.card .content {
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  background-color: whitesmoke;
  padding: 0 0.5rem;
}

.card .link.steelblue { background-color: lightsteelblue; }
.card .link.coral { background-color: lightcoral; }
.card .link.darkseagreen { background-color: darkseagreen; }

.card .link {
  padding: 1rem 0;
  color: white;
  text-transform: uppercase;
}

/* form submission */
form .question {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
form .question label {
  display: block;
  text-align: left;
}
form .question textarea, form .question input {
  width: 100%;
}

/* instructor profile */
.profileImage img {
  position: relative;
  height: 7.5em;
  width: 7.5em;
  border-radius: 50%;
  border: 1px solid lightgrey;
}
@media (min-width: 768px) {
  .profileImage img {
    top: 3rem;
    left: 2rem;
  }
}
@media (min-width: 992px) {
  .profileImage img {
    top: 7rem;
    left: 2rem;
  }
}
.profileText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.profileText h2 {
  margin-top: 0;
}

.sitemap-footer-flattened {
}

.sitemap-footer-flattened .footer-container {
  margin: 4em auto;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
}

.sitemap-footer-flattened .footer-container .column {
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 1em;
}

.sitemap-footer-flattened .footer-container .column .heading {
  text-transform: uppercase;
  font-weight: 400;
  display: inline;
  margin: 0;
}

.sitemap-footer-flattened .footer-container .column .link {
  display: inline;
  margin-left: 2em;
}
